{%  extends "base.html" %}
{% block page_title %} About {% endblock %}
{% block page_content %}
    <div class="container-fluid">
        <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed congue, est tempus blandit interdum, purus tortor porta turpis, eu viverra lectus mauris vitae turpis. Proin id eros nisi. Cras rhoncus rhoncus velit, eget mollis ante. Nullam sed turpis euismod, semper diam non, hendrerit neque. Suspendisse nec enim dui. Sed posuere bibendum finibus. Vivamus ut mauris eget sapien laoreet tempus. Pellentesque a lectus leo. Vivamus finibus semper augue. Proin id tellus erat. Pellentesque porta gravida lacus, id eleifend lacus. Ut pellentesque condimentum lectus euismod fringilla. Phasellus mollis cursus purus id hendrerit. Nam eu nibh et elit tristique lacinia. Integer malesuada vel neque in eleifend.
        </p>
        <p>
        Suspendisse lobortis ac nisl nec rhoncus. Integer sit amet viverra eros. Quisque nec sollicitudin eros. Fusce bibendum suscipit vulputate. Nam in quam convallis, bibendum nisl imperdiet, ultricies augue. Duis eleifend dictum velit sit amet rhoncus. Phasellus pretium id justo sit amet viverra. Ut finibus cursus sapien nec tempor. Proin consectetur sapien et porta egestas. Aliquam tristique mattis elit, nec eleifend sapien varius eu. Curabitur vulputate dapibus tortor, et porta lorem varius eu. Aliquam varius velit sit amet facilisis ullamcorper.
        </p>
        <p>
        Sed fermentum aliquet feugiat. Sed id tellus in urna posuere fringilla. Pellentesque blandit sit amet sem vel pulvinar. Sed condimentum viverra lorem at faucibus. Duis purus est, finibus non tristique et, dictum quis est. Maecenas non nibh facilisis, tristique arcu ut, posuere erat. Proin posuere lacus ac ullamcorper egestas. Integer interdum purus vel risus dictum, in pretium massa convallis. Duis mollis a erat id feugiat. Morbi efficitur tincidunt venenatis. Nam eget sem sed velit molestie laoreet vel a nunc. Fusce rutrum bibendum enim sit amet mattis. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Pellentesque in mattis ante. Fusce nec placerat arcu, eu placerat urna. Cras arcu leo, auctor vitae tortor sed, euismod lobortis tellus.
        </p>
    </div>
{% endblock %}
