{% extends 'bootstrap/base.html' %}

{% block title %}
    {% block page_title %}{%endblock %} - COVID-19 Dashboard
{% endblock %}

{% block navbar %}
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">COVID-19</a>
            </div>
            <ul class="nav nav-pills">
                <li class="nav-link"}}><a href="/">Australian Cases</a></li>
                <li class="nav-link"}}><a href="/globalCases">Global Cases</a></li>
                <li class="nav-link"}}><a href="/heatMap">Heat map</a></li>
                <li class="nav-link" }}><a href="/about">About</a></li>
            </ul>
        </div>
    </nav>
{% endblock %}

{% block content %}
    <div class="container-fluid">
        {% block page_content%} {%endblock %}
    </div>
{% endblock %}