{%  extends "base.html" %}
{% block page_title %} Page not found{% endblock %}
{% block page_content %}
    <head>
        <meta charset="utf-8" />
        <script type='text/javascript'>
            function GetMap() {
                var map = new Microsoft.Maps.Map('#myMap', {
                    credentials: 'Akrs8YwhB7gOgLr69CJLgIA7p7TP_Xbc6AZzUqILS8s3g3zZnifO_7dWyx7abPMy'
                });
                //Load the HeatMap module.
                Microsoft.Maps.loadModule('Microsoft.Maps.HeatMap', function () {
                {% for state in cases_info %}
                    var r = {{ cases_info[state]['case_history'][-1] * 100 }}
                    var heatmap = new Microsoft.Maps.HeatMapLayer(new Microsoft.Maps.Location({{cases_info[state]['lat']}}, {{cases_info[state]['long']}}), {
                       
                    });
                    map.layers.insert(heatmap);
                {% endfor %}
                });
            }
        </script>
        <script type='text/javascript' src='http://www.bing.com/api/maps/mapcontrol?callback=GetMap' async defer></script>
    </head>
    <body>
        <div id="myMap" style="position:relative;width:600px;height:400px;"></div>
    </body>
{% endblock %}


