{%  extends "base.html" %}
{% block page_title %} Heat map {% endblock %}
{% block page_content %}
    <body>
        <div id='myMap' style='width: 100vw; height: 100vh;'></div>
         <script type='text/javascript'>
            function GetMap() {
                var map = new Microsoft.Maps.Map(document.getElementById('myMap'), {

                    zoom: 3
                });
                Microsoft.Maps.loadModule('Microsoft.Maps.HeatMap', function () {
                    var mapDiv = map.getRootElement();
                    var locations = [];
                    {% for state in cases_info  %}
                        {% for i in range(cases_info[state]['case_history'][-1]) %}
                            var randomLocation = new Microsoft.Maps.Location({{ cases_info[state]['lat'] }}, {{ cases_info[state]['long'] }});
                            locations.push(randomLocation);
                        {%  endfor %}
                    {% endfor %}

                    var heatMap = new Microsoft.Maps.HeatMapLayer(locations, {
                        intensity: 1,
                        radius: 200,
                        aggregateLocationWeights: true
                    });
                    map.layers.insert(heatMap);
                });
            }
        </script>
        <script type='text/javascript' src='https://www.bing.com/api/maps/mapcontrol?key=Akrs8YwhB7gOgLr69CJLgIA7p7TP_Xbc6AZzUqILS8s3g3zZnifO_7dWyx7abPMy&callback=GetMap' async defer></script>
    </body>
{% endblock %}


